include AUTHORS.md
include CONTRIBUTING.rst
include HISTORY.md
include LICENSE
include README.md

recursive-include tests *
recursive-include xradar *.c *.pyx *.pxd
recursive-exclude * __pycache__

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
