cffconvert
pip
wheel
coverage
sphinx
twine
pytest
black
isort
fsspec
ruff
nbconvert
notebook
open_radar_data
boto3
cartopy
s3fs
zarr>=2,<3
pytest-xdist
pytest-cov
pre-commit
diff-cover
myst-parser
sphinx-copybutton
sphinx-favicon
nbsphinx
pydata-sphinx-theme
